body{
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}


.product{
  width: 300px;
  background-color: #fff;
  border: 2px solid #ecd4d4;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  margin: 80px;
}


img {
  width: 50%;
  border-radius: 8px;
  margin-bottom: 12px;
}

h2 {
  font-size: 20px;
  margin: 12px 0 6px;
  color: #333;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #293229;
  margin-bottom: 14px;
}

.btn {
  padding: 10px 16px;
  background-color: #3c80ee;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.btn:hover {
  background-color: #e425e4;
}

@media (max-width: 400px) {
  .product {
    width: 90%;
  }
}
